.register {
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.heading-register {
  color: #2da950;
  font-size: 2.4rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.headline-register {
  width: 80%;
  font-size: 56px;
  color: #333;
}
.input-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-form input {
  padding: 20px;
  border-radius: 50px;
  background: #efefef;
  border: none;
  outline: none;
}

.input-form button {
  color: white;
}

.inner-div {
  width: 100%;
}

.inner-div input {
  width: 90%;
}

.error {
  font-size: 14px;
  color: red;
  gap: 10px;
}

.on {
  background-color: #1c1c1c !important;
  color: white;
}
